<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>

        <header>
            <div class="top-header">
                <div class="logo"> 
                    <a href="/"><img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre"></a>
                </div>
                <form class="search-form" action="#" method="GET">
                    <input class="search-input" type="text" name="search" placeholder="Buscar productos, marcas y más..." required>
                    <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
                </form>
                <p class="announcement"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav class="navbar">
                <ul class="left-menu">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="right-menu">
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>

        <main>

            <div class="login-section">

                <h3>Login</h3>

                <form class="login-form" action="/registro" method="post">

                    <input type="text" name="username" id="username" placeholder="Usuario" minlength="2" required>
                    <input type="password" name="password" id="password" placeholder="Contraseña" minlength="8" required>
                    
                    <button class="send-button" type="submit">Iniciar sesión</button>

                </form>

            </div>
            
        </main>

        <footer>

            <section class="announcements">
                <div class="announcement">
                    <div class="icon-announcement"><i class="fas fa-credit-card"></i></div>
                    <p class="title-announcement">Pagá con tarjeta o en efectivo</p>
                    <p class="text-announcement">
                        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                    </p>
                </div>
                <div class="announcement">
                    <div class="icon-announcement"><i class="fas fa-gift"></i></div>
                    <p class="title-announcement">Envío gratis desde $ 2.500</p>
                    <p class="text-announcement">
                        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                    </p>
                </div>
                <div class="announcement">
                    <div class="icon-announcement"><i class="fas fa-user-shield"></i></div>
                    <p class="title-announcement">Seguridad, de principio a fin</p>
                    <p class="text-announcement">
                        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
                    </p>
                </div>

            </section>

            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            
        </footer>
        
    </body>
</html>