<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>

        <header>
            <div class="top-header">
                <div class="logo"> 
                    <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                </div>
                <form class="search-form" action="#" method="GET">
                    <input class="search-input" type="text" name="search" placeholder="Buscar productos, marcas y más..." required>
                    <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
                </form>
                <p class="announcement"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav class="navbar">
                <ul class="left-menu">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="right-menu">
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>

        <main>

            <div class="register-section">

                <h3>Registro de usuario</h3>

                <form class="register-form" action="/registro" method="post">

                    <p class="form-title">Datos personales</p>
                    <input type="text" name="full-name" id="full-name" placeholder="Nombre y apellido" minlength="2" required>
                    <input type="text" name="username" id="username" placeholder="Nombre de usuario" minlength="3" required>
                    <input type="email" name="email" id="email" placeholder="E-Mail" required>
                    <input type="text" name="address" id="address" placeholder="Domicilio" minlength="5" required>
                    
                    <p class="form-subtitle">Fecha de nacimiento</p>
                    <input type="date" name="birthdate" id="birthdate" required>

                    <p class="form-title">Perfil del usuario</p>
                    <label><input type="radio" name="profile" value="buyer" required>Comprador</label>
                    <label><input type="radio" name="profile" value="seller" required>Vendedor</label>

                    <p class="form-subtitle">Intereses</p>
                    <label><input type="checkbox" name="interests" value="electro">Electro</label>
                    <label><input type="checkbox" name="interests" value="hogar">Hogar</label>
                    <label><input type="checkbox" name="interests" value="moda">Moda</label>
                    <label><input type="checkbox" name="interests" value="jugueteria">Juguetería</label>

                    <p class="form-title">Foto de perfil</p>
                    <input type="file" name="profile" accept=".png">

                    <p class="form-title">Contraseña</p>
                    <input type="password" name="password" placeholder="Contraseña" minlength="8" required>
                    <input type="password" name="password" placeholder="Confirmar contraseña" minlength="8" required>

                    <button class="send-button" type="submit">Enviar</button>
                    <button class="reset-button" type="reset">Cancelar</button>

                </form>

            </div>
            
        </main>

        <footer>

            <section class="announcements">
                <div class="announcement">
                    <div class="icon-announcement"><i class="fas fa-credit-card"></i></div>
                    <p class="title-announcement">Pagá con tarjeta o en efectivo</p>
                    <p class="text-announcement">
                        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                    </p>
                </div>
                <div class="announcement">
                    <div class="icon-announcement"><i class="fas fa-gift"></i></div>
                    <p class="title-announcement">Envío gratis desde $ 2.500</p>
                    <p class="text-announcement">
                        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                    </p>
                </div>
                <div class="announcement">
                    <div class="icon-announcement"><i class="fas fa-user-shield"></i></div>
                    <p class="title-announcement">Seguridad, de principio a fin</p>
                    <p class="text-announcement">
                        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
                    </p>
                </div>

            </section>

            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            
        </footer>
        
    </body>
</html>