* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 12px;
}

div.top-header {
    padding: 5%;
}

header {
    background-color: #EAC926;
}

header div.logo {
    width: 50%;
}

header div.logo {
    padding: 10px;
}
header nav {
    font-size: 12px;
}

header ul li {
    list-style-type: none;
}

header ul li a {
    text-decoration: none;
    color: #000;
}

header .form .input {
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

header .form .submit {
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

header div.top-header p {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.navbar {
    display: none;
}

div.burger-menu {
    text-align: center;
}

div.burger-menu i {
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    margin: 10px 0px 10px 0px;
    padding: 10px;
}

article div.main-article {
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 10px;
    margin: auto;
}

.price {
    font-size: 18px;
}

.discount,
.description { 
    font-size: 16px;
    font-weight: normal;
}

h3,
.description {
    color: #666;
}

.description {
    display: none;
}

section.banner img {
    width: 100%;
}

main {
    width: 90%;
    margin: auto;
}

main section article {
    background-color: #fff;
    margin: 10px 0px;
}

main section article img {
    width: 100%;
}

main section article i,
.discount {
    color: #39b54a;
}

.announcements {
    padding: 20px;
}

.announcement {
    text-align: center;
    margin: 20px 0px;
}

.title-announcement {
    font-size: 16px;
    font-weight: bold;
}

.icon-announcement {
    font-size: 2em;
    padding-bottom: 10px;
    color: #0044AA;
}

@media (min-width: 361px) {

    .navbar {
        display: block;
        padding: 10px;
    }

    div.burger-menu {
        display: none;
    }

    .description {
        display: block;
    }

    .products article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

}

@media (min-width: 769px) {
    
    .navbar {
        display: block;
    }

    div.burger-menu {
        display: none;
    }

    .description {
        display: block;
    }
    
    .products article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

}


