* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 12px;
}

div.top-header {
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

header {
    background-color: #EAC926;
}

header div.logo {
    width: 50%;
    padding: 10px;
}

header div.form {
    width: 50%;
    padding: 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
}

header .submit {
    text-align: center;
}

header div.top-header p {
    text-align: center;
    margin-top: 10px;
}

header nav {
    font-size: 12px;
}

header nav.navbar {
    display: none;
}

header ul li {
    list-style-type: none;
}

header ul li a {
    text-decoration: none;
    color: #000;
}

header .form .input {
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

header .form .submit {
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

header.navbar {
    display: none;
}

div.burger-menu {
    text-align: center;
}

div.burger-menu i {
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    margin: 10px 0px 10px 0px;
    padding: 10px;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

article div.main-article {
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 10px;
    margin: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.price {
    font-size: 18px;
    width: 50%;
    padding: 1%;
}

.discount {
    width: 50%;
    padding: 1%;
}

.discount,
.description { 
    font-size: 16px;
    font-weight: normal;
    padding: 1%;
}

h3,
.description {
    color: #666;
}

.description {
    display: none;
}

section.banner img {
    width: 100%;
}

main {
    width: 90%;
    margin: auto;
}

main section article {
    background-color: #fff;
    margin: 10px 0px;
}

main section article img {
    width: 100%;
}

main section article i,
.discount {
    color: #39b54a;
}

main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.announcements {
    padding: 20px;
}

footer div.announcement {
    text-align: center;
    margin: 20px 0px;
}

footer p.title-announcement {
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0px;
}

footer div.icon-announcement {
    font-size: 2em;
    padding-bottom: 10px;
    color: #0044AA;
}

@media (min-width: 480px) {

    header nav.navbar {
        display: flex;
        padding: 10px;
        margin: 0px 10px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    header ul.left-menu {
        display: flex;
        justify-content: space-between;
    }

    header ul.right-menu {
        display: flex;
        justify-content: space-between;
    }

    header li {
        margin: 10px;
    }

    header div.logo {
        width: 30%;
        padding: 10px;
    }
    
    header div.form {
        width: 30%;
        padding: 10px;
    }

    header p.announcement {
        width: 30%;
        padding: 10px;
    }

    div.burger-menu {
        display: none;
    }

    .description {
        display: block;
    }

    .products {
        justify-content: space-around;
    }

    .products article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
    }

}

@media (min-width: 769px) {
        
    header div.form {
        font-size: 16px;
    }

    header p.announcement {
        font-size: 16px;
    }

    .products article {
        width: 22.5%;
    }

}


